In [42]:
import numpy as np

In [43]:
a = (1,'pom')

In [44]:
a[0]

1

In [45]:
a[1]

'pom'

In [46]:
#a[0] = 100

#---------------------------------------------------------------------------
#TypeError                                 Traceback (most recent call last)
#Input In [4], in <cell line: 1>()
#----> 1 a[0] = 100

#TypeError: 'tuple' object does not support item assignment

In [47]:
b = ((1,2,3),('a','b','c'),(True,True,False))

In [48]:
b[1]

('a', 'b', 'c')

In [49]:
b[2][2]

False

In [50]:
for data in b:
    print(data)

(1, 2, 3)
('a', 'b', 'c')
(True, True, False)

In [51]:
for x,y,z in b:
    print(f'x:{x},y:{y},z:{z}')

x:1,y:2,z:3
x:a,y:b,z:c
x:True,y:True,z:False

In [52]:
def test_tuple(param):
    return param[0] + 1, param[1] + 'added'

In [53]:
c, d = test_tuple((3, 'qom'))

In [54]:
c

4

In [55]:
d

'qomadded'

In [56]:
num = (1,2,4,5)

In [57]:
np.sum(num)

12

In [58]:
np.average(num)

3.0

In [59]:
rng = np.random.default_rng()

In [60]:
x =rng.integers(0, 10, (5))

In [61]:
x

array([0, 4, 2, 1, 5])

In [62]:
np.sum(x)

12

In [63]:
np.average(x)

2.4

In [86]:
num_tuple = (1,2,3)

In [87]:
def sample_test(num_tuple):
    result = np.sum(num_tuple)
    
    print(result)

In [88]:
sample_test(num_tuple)

6